body{
    display: flex;
    text-align: center;
    justify-content: center;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRhZO-l1pFZ3YvNbhPP3txY978c476Dmonie7e9ofdgpBOG-qy2H9zWYoD5tepDIK682Mw&usqp=CAU");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}





